* {
  font: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(71, 143, 190);
}

/* Header + Nav */

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(34, 88, 138);
  padding: 10px;
  width: 100%;
}

nav ul li {
  display: inline;
  text-decoration: none;
  padding-right: 30px;
  font-size: 1.25em;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  border-bottom: 2px solid white;
}

/* About */

.container {
  text-align: center;
  margin: 80px 150px 30px 150px;
}

.container h2 {
  margin: 10px;
}

.container p {
  margin: 15px 0;
}

.container img {
  width: 400px;
  border-radius: 5px;
  border: 2px solid black;
}

/* Contact */
#contact {
  padding: 10px 0px 50px 0px;
}

.container-form {
  background-color: rgb(34, 88, 138);
  justify-content: center;
  width: 300px;
  padding: 10px 20px 20px 20px; 
  margin: 0 auto;
  border-radius: 5px;
  border: 2px solid black;
}
.container-form input {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
}

.container-form h2 {
  text-align: center;
  margin-bottom: 10px;
}

.form-control{
  margin: 10px 0 20px 0;
}

.container-form input:focus {
  outline: none;
}

.btn {
  padding: 10px;
  background-color:rgb(32, 148, 109);
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  justify-content: center;
}

/* Footer */

footer {
  width: 100%;
  height: 50px;
  background-color: rgb(34, 88, 138);
  bottom: 0;
  left: 0;
}

footer h3 {
  text-align: center;
  padding-top: 15px;
  font-size: .85em;
}